.menuImage {
    width: 90%;

    display: block;
    margin: auto;
    border-radius: 15px;
}

.menuImage:hover {}

.card-wrapper {}

.slick-slide {
    margin: 6em 0em;
}


.slick-arrow {
    color: black;
}

.slick-prev {
    z-index: 100;
    left: 20px !important;
}

.slick-next {
    z-index: 100;
    right: 20px !important;
}