.Menu {
    display: flex;
    margin-top: 5vw
}

.Menu-right {
    background-color: #898B61;
}

.Menu-left {
    width: 50%
}

.Menu-info {
    padding: 4vw 4vw
}

.Menu-carousel {}

.Menu-title {
    font-family: 'Circular Std Book';

    font-weight: 500;
    font-size: 1.6vw;
    color: #FFFFFF;
}

.Menu-paragraph {
    font-family: 'Circular Std Book';

    font-weight: 450;
    font-size: 1vw;
    text-align: left;
    color: #FFFFFF;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    background: #000000;
    box-sizing: border-box;
    font-family: 'Circular Std Book';

    font-weight: 450;
    font-size: 1.2vw;
    text-align: center;
    color: #FFFFFF;
    width: 10vw;
    margin-top: 2vw;
}

@media (max-width: 1220px) {
    .Menu-left {
        width: 0%
    }

    .Menu-right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}