.Menu {
    display: flex
}

.Menu-right {
    background-color: #898B61;
    min-width: 50vw;
}

.Menu-left {
    min-width: 50vw;
}

.Menu-info {
    padding: 4em 4em
}

.Menu-title {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

.Menu-paragraph {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 450;
    font-size: 12px;
    text-align: left;
    color: #FFFFFF;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    background: #000000;
    box-sizing: border-box;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    width: 8em;
    margin-top: 1.5em;
}