@import url('http://fonts.cdnfonts.com/css/circular-std');

.footer-container {
    background-image: url("/main1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.grid-container {
    display: flex;
    position: relative;
    display: grid;
    grid-template-rows: 25vw 15vw;
    font-family: 'Circular Std';
    font-size: 1.6vw;
    color: white;
}

.footer-contact {
    grid-row-start: 1;
    grid-row-end: 1;
}

.footer-contactinfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 10vw;
    margin-left: 10vw;
    margin-top: 10vw;
    justify-content: space-between;
}

.contact {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    font-size: 2.4vw;
    line-height: 40px;
    text-align: center;
}

.order {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 450;
    font-size: 1.4vw;
    line-height: 150%;
}

.call-button {
    background-color: #898B61;
    text-decoration: none;
    color: #fff;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 450;
    font-size: 1vw;
    line-height: 18px;
    padding: 0.7vw 2vw;
    border-radius: 1vw;
}

.call-button:hover {
    color: white;
}


.footer-phone {
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: rgba(0, 0, 0, 0.5);
}

.phone-paragraph {
    padding-right: 5vw;
    padding-bottom: 2vw;
    width: 100%;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 450;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
}

.footer-copyright {
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-left: 5vw;
    padding-bottom: 2vw;
    background: rgba(0, 0, 0, 0.5);
}

.copyright {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 450;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.5);
}

.icons {
    width: 4vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5vw;
}

.text-on-image {
    position: relative;
}

.bottom-image {
    width: 100%;
}