.Hours {
    background: #898B61;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    max-height: 20vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.Hours-heading {
    font-family: 'Circular Std', sans-serif;
    font-weight: 500;
    font-size: 1.4vw;
    text-align: left;
    color: #FFFFFF;
}

.Hours-columns {
    display: flex;
}

.Hours-breakdown {
    margin: 0 4vw 0 0;
}

.SpanningImage {
    height: 35vh;
    width: 40vw;
    margin-left: 18vw;
}

.HoursContainer {
    flex-direction: column;
    margin-left: 9vw;
}

.Hours-paragraph {
    font-size: 1vw;
}

@media (max-width: 480px) {
    .SpanningImage {
        height: 0;
        width: 0;
        margin: 0;
    }

    .HoursContainer {
        margin: 5vw auto;
    }
}

@media (min-width: 1500px) {
    .Hours {
        background: #898B61;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        max-height: 15vw;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }

    .SpanningImage {
        height: 40vh;
        width: 45vw;
        margin-left: 10vw;
    }
}