.Hours {
    background: #898B61;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    max-height: 22vw;
    margin-top: 4vh;
}

.Hours-heading {
    font-family: 'Circular Std Book';
    font-weight: 500;
    font-size: 1.4vw;
    text-align: left;
    color: #FFFFFF;
}

.Hours-columns {
    display: flex;
}

.Hours-breakdown {
    margin: 0 4vw 0 0;
}

.SpanningImage {
    height: 40vh;
    width: 40vw;
    margin-left: 18vw;
    margin-right: 9vw;
}

.HoursContainer {
    flex-direction: column;
    margin-left: 9vw;
}

.Hours-paragraph {
    font-size: 0.8vw;
}