.Nav-heading-elements :hover {
    opacity: 60%;
    cursor: pointer;
}

.active {
    opacity: 60%;
    color: white;
    text-decoration: none;
}

.a:hover {
    opacity: 60%;
    color: white;
    text-decoration: none;
}

a:active {
    color: white;
}

.a:visited {
    color: none;
}

.Nav-heading {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    box-shadow: 0 2px 12px rgba(140, 140, 100, 0.08);
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}

.Nav-heading-elements {
    margin: 1vw 4vw;
    background: none;
    border: none;
    list-style: none;
    font-family: 'Circular Std', sans-serif;
    font-weight: 450;
    font-size: 1.5vw;
    line-height: 13px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 0.5vw;
    transition: background 0.2s, color 0.2s;

    @media (max-width: 600px) {
        .Nav-heading {
            border-bottom-left-radius: 4vw;
            border-bottom-right-radius: 4vw;
            padding: 2vw 0;
        }

        .Nav-heading-elements {
            font-size: 4vw;
            margin: 2vw 2vw;
            border-radius: 2vw;
        }
    }
}

.logoLink {
    height: 2vw;
}