.About {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vw;
}

.About-heading {
    font-family: 'Circular Std Book';

    font-weight: 500;
    font-size: 1.6vw;
    line-height: 25px;
    text-align: center;

    color: #787878;
}

.About-paragraph {
    font-family: 'Circular Std Book';

    font-weight: 450;
    font-size: 1vw;
    line-height: 135%;
    max-width: 50vw;
    text-align: center;
    color: #787878;
}