@import url('http://fonts.cdnfonts.com/css/circular-std');

.Directions {
    height: 25vw;
    margin: 5vw;
}

.column {
    flex: 50%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}

.location {
    display: flex;
    align-self: flex-start;
    font-family: 'Circular Std', sans-serif;
    padding: 5px;
    margin-left: 4vw;
    font-size: 1.6vw;
    font-weight: 500;

}

.row {
    height: 25vw
}

.textbox {
    display: flex;
    font-family: 'Circular Std', sans-serif;
    padding: 5px;
    margin-left: 4vw;
    font-size: 1vw;

}

.row::after {
    display: flex;
}

@media (max-width: 1220px) {
    .location {
        display: flex;
        align-items: center;
        flex: 100%;
        margin-top: 2vw;
        align-self: center;
    }

    .HoursContainer {
        margin: 5vw auto;
    }

    .directions {
        display: flex;
        flex-direction: column;
    }

    .row {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}