.MenuImage {
    width: 90%;
    display: block;
    margin: auto;
    border-radius: 0.75vw;
    box-shadow: 0 2px 12px rgba(140, 140, 100, 0.08);
}

.MenuImage:hover {
    transform: scale(1.05);

    @media (max-width: 600px) {
        .MenuImage {
            border-radius: 2vw;
        }
    }
}

.slick-slide {
    position: relative;
}

.slick-arrow {
    color: black;
}

.slick-prev {
    z-index: 100;
    left: 2vw !important;
}

.slick-next {
    z-index: 100;
    right: 2vw !important;
}

.menuCarouselContainer {
    margin: 10vw 0em;
}

.MenuCardContainer {
    position: relative;
    text-align: center;
}

.MenuTextBox {
    position: absolute;
    transform: translate(0.5%, -75%);
    background: rgba(0, 0, 0, 0.5);
    width: 99%;
    height: 20%;
    margin: auto auto;
    border-bottom-left-radius: 0.75vw;
    border-bottom-right-radius: 0.75vw;
}

.MenuText {
    position: relative;
    top: 25%;
    text-align: center;
    font-family: 'Circular Std', sans-serif;
    font-size: max(1vw, 1.5vh);
    vertical-align: middle;
    color: white;
}