.Reviews {
    background: #898B61;
    padding-bottom: 6vw;
}

.Reviews-title {
    font-family: 'Circular Std', sans-serif;
    font-size: 1.6vw;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 6vw;
    margin-bottom: 6vw;
}

.Reviews-carousel {
    padding-right: 1.5vw;
    padding-bottom: 4vw;
}

.Reviews-reviewcard {
    margin: auto auto;
    margin-left: 3vw;
    margin-right: 3vw;
    background: #FFFFFF;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: max(20vw, 20vh);
    position: relative;
}

.Reviews-rating {
    position: absolute;
    bottom: 0%;
    margin-left: 0.5vw;
}

.Reviews-image {
    max-width: 2vw;
    margin-right: 1vw;
    margin-left: 1vw;
}

.Reviews-metadata {
    margin-top: 1vw;
    display: flex;
    align-items: center;
}

.Reviews-name {
    font-family: 'Circular Std', sans-serif;

    font-weight: 700;
    font-size: 1.4vw;
    /* identical to box height, or 125% */
    padding-top: 0.5vw;

    color: #898B61;
}

.Reviews-text {
    font-family: 'Circular Std', sans-serif;
    font-weight: 450;
    font-size: 1vw;
    color: #787878;
    align-items: center;
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
    overflow-y: auto;
    clear: both;
}

@media (max-width: 1024px) {
    .Reviews-text {
        font-family: 'Circular Std', sans-serif;
        font-weight: 450;
        font-size: 1.5vw;
        color: #787878;
        align-items: center;
        margin-top: 1vw;
        margin-bottom: 1vw;
        overflow-y: auto;
        clear: both;
    }
}

.react-multiple-carousel__arrow--left {
    left: 0.5vw !important
}

.react-multiple-carousel__arrow--right {
    right: 0.5vw !important
}