.article {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.slick-track {
    top: 0;
}

.Top-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.header {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 61px;
    color: white;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    margin: auto;

}