@import url('http://fonts.cdnfonts.com/css/circular-std-book');
@import url('bootstrap/dist/css/bootstrap.min.css');

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #f7e8d3;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


p {
  margin: 0;
}

.Hours-paragraph {
  font-family: 'Circular Std Book';
  font-weight: 450;
  font-size: 12px;
  text-align: left;
  color: #FFFFFF;
}

.Directions {
  height: 500px
}

.Contact {
  height: 500px
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, .9);
}

.SpanningContainer {
  position: relative
}

.SpanningImage {
  position: absolute;
  width: 40%;
  height: 40%;
  top: 15.5em;
  left: 16em;
}