img {
    width: 500px;
    height: 400px;
    display: block;
    margin: auto;

}

img:hover {
    transform: scale(1);
}

.card-wrapper {}



.slick-arrow {
    color: black;
}

.slick-prev {
    z-index: 100;
    left: 20px !important;
}

.slick-next {
    z-index: 100;
    right: 20px !important;
}